<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help-Weather</title>
</head>

<body>

    <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
            <p>this is some help text</p>
    </div>
    {{>footer}}
</body>

</html>